<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kellysearch.Properties.Settings.faxConnectionString"
            connectionString="server=127.0.0.1;User Id=root;database=fax"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>